@{
    ViewData["Title"] = "Categorias";
}

@section Scripts {

    @* Scripts - Dev/Debug *@

    @* AngularJS *@
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>

    @* App *@
    <script src="~/app/components/load-cursor/loadcursor.directive.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/services/auth.service.js"></script>
    <script src="~/app/services/authInterceptor.service.js"></script>

    <script src="~/app/modules/categorias/module.js"></script>
    <script src="~/app/modules/categorias/controller.listar.js"></script>
    <script src="~/app/modules/categorias/controller.cadastrar.js"></script>
    <script src="~/app/modules/categorias/controller.editar.js"></script>
}

<div class="row" ng-app="ClientApp">

    <div ng-view></div>

</div>


