

<div class="page-header">
    <h3>Chamados</h3>
</div>

<!--<p *ngIf="!chamados"><em>Aguarde...</em></p>-->

<table class='table' *ngIf="chamados">
    <thead>
        <tr>
            <th>Nº Processo</th>
            <th>Título</th>
            <th>Urgência</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of chamados">
            <td>{{ item.numeroProcesso }}</td>
            <td>{{ item.titulo }}</td>
            <td>{{ item.urgencia }}</td>
            <td>{{ item.categoria.Descricao }}</td>
        </tr>
        <tr *ngIf="!chamados">
            <td colspan="4">Nenhum chamado encontrado</td>
        </tr>
    </tbody>
</table>
