@{
    ViewData["Title"] = "Home";
}

<hr />
<div class="row">
    <div class="jumbotron">
        <h2>Sistema de Gestão de Chamados</h2>
        <h4>Aplicação teste p/ Projeto Causa Online</h4>
    </div>
</div>

<div class="row">

    <div class="page-header">
        <h3>Principais tecnologias e/ou frameworks desta aplicação</h3>
    </div>
    <div class="col-md-12">
        <ul>
            <li>ASP.NET Core MVC</li>
            <li>ASP.NET Core Web API</li>
            <li>CSS: Bootstrap, FontAwesome</li>
            <li>Javascript: AngularJS, jQuery</li>
            <li>Banco de Dados: SQL Server</li>
            <li>Ferramentas auxiliares: Nuget, Bower</li>
            <li>Ferramentas de autenticação/autorização: ASP.NET Identity Core, JSON Web Token (JWT)</li>
            <li>Ferramentas auxiliares: Swagger (Documentação de API) => Acesso em: [url]/swagger </li>
        </ul>
    </div>
</div>
