@*<script src="~/app/modules/infoLogin/controller.infoLogin.js"></script>*@

<div>
    <section id="Logado">       
    </section>

    <section id="NaoLogado">
    </section>
</div>

<style>
    #infoUser {
        color:silver;
    }
</style>

<script>

    var username = localStorage.getItem("ngStorage-username");
    if (username && username != ""){

        document.getElementById("Logado").innerHTML ='<form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">'
                                                    +     '<ul class="nav navbar-nav navbar-right">'
                                                    +         '<li>'
                                                    +         '    <br><span id="infoUser"></span>'
                                                    +         '</li>'
                                                    +         '<li>'
                                                    +             '<button type="button" class="btn btn-link navbar-btn navbar-link" onclick="sair()">Sair</button>'
                                                    +         '</li>'
                                                    +     '</ul>'
                                                    + '</form>';

        document.getElementById("infoUser").innerHTML = 'Ola, ' + username.replace('"','').replace('"','');
    }
    else {
         document.getElementById("NaoLogado").innerHTML ='<section id="NaoLogado">'
                                                        + '<ul class="nav navbar-nav navbar-right">'
                                                        + '   <li><a href="/Account#!/signup">Criar Conta</a></li>'
                                                        + '  <li><a href="/Account#!/login">Login</a></li>'
                                                        + '</ul>';
    }

    function sair(){

        localStorage.removeItem("ngStorage-username");
        localStorage.removeItem("ngStorage-token");

        location.reload();
    }

</script>